@charset 'utf-8';
*{
	margin: 0;
	padding: 0;
}
.header{
	list-style: none;/*清除默认样式，必须用在ul上*/
	background-color:#333;
	width: 700px;
	margin: 0px auto;/*列表居中*/
	overflow: hidden;/*解决高度塌陷*/
	border-radius: 10px;/*导航条圆角*/
	position: fixed;/*固定定位，导航条随页面一起滚*/
	left: 0px;
	right: 0px;
	 }

.header li{
	float: left;
	width: 20%;
	}
a{
	display: block;/*将a转换为块元素*/
	width: 100%;
	text-align: center;
	padding:8px;
	text-decoration:none;
	color: #eee;
	

}
a:hover{
	background-color: #000;
}
